/ Gitolite Hooks Config
- gitolite_overwrite_existing_hooks = RedmineGitHosting::Config.get_setting(:gitolite_overwrite_existing_hooks, true)
- gitolite_hooks_are_asynchronous   = RedmineGitHosting::Config.get_setting(:gitolite_hooks_are_asynchronous, true)
- gitolite_hooks_debug              = RedmineGitHosting::Config.get_setting(:gitolite_hooks_debug, true)
- gitolite_hooks_url                = RedmineGitHosting::Config.get_setting(:gitolite_hooks_url)

.contextual= link_to label_with_icon(l(:label_install_gitolite_hooks), 'fa-rocket', class: 'fa-align'), install_gitolite_hooks_path('redmine_git_hosting'), remote: true

%h3= l(:label_gitolite_hooks_config)

.container
  .row
    .col-md-6{ style: 'vertical-align: top;' }
      %p
        %label= l(:label_gitolite_overwrite_existing_hooks)
        = bootstrap_switch_tag do
          = hidden_field_tag 'settings[gitolite_overwrite_existing_hooks]', 'false'
          = check_box_tag 'settings[gitolite_overwrite_existing_hooks]', gitolite_overwrite_existing_hooks, gitolite_overwrite_existing_hooks

      %p
        %label= l(:label_gitolite_hooks_are_asynchronous)
        = bootstrap_switch_tag do
          = hidden_field_tag 'settings[gitolite_hooks_are_asynchronous]', 'false'
          = check_box_tag 'settings[gitolite_hooks_are_asynchronous]', gitolite_hooks_are_asynchronous, gitolite_hooks_are_asynchronous

      %p
        %label= l(:label_gitolite_hooks_debug)
        = bootstrap_switch_tag do
          = hidden_field_tag 'settings[gitolite_hooks_debug]', 'false'
          = check_box_tag 'settings[gitolite_hooks_debug]', gitolite_hooks_debug, gitolite_hooks_debug

      %p
        %label= l(:label_gitolite_hooks_url)
        = text_field_tag 'settings[gitolite_hooks_url]', gitolite_hooks_url, size: 60
        %br
        %em
          = surround '(', ')' do
            = l(:label_default_gitolite_hooks_url) + ' :'
            = "#{Setting.protocol}://#{Setting.host_name.split('/').first}"

      %p
        %label= l(:label_gitolite_hooks_url)
        %span{ class: 'label label-info' }= RedmineGitHosting::Config.gitolite_hooks_url

      %p
        %label= l(:label_gitolite_hooks_namespace)
        %span{ class: 'label label-info' }= RedmineGitHosting::Config.gitolite_hooks_namespace

    .col-md-6
      #install_gitolite_hooks
