%p
  = label_tag 'settings[gitolite_resync_all_projects]', l(:label_resync_all_projects)
  = check_box_tag 'settings[gitolite_resync_all_projects]', 'true', false

%p
  = label_tag 'settings[gitolite_resync_all_ssh_keys]', l(:label_resync_all_ssh_keys)
  = check_box_tag 'settings[gitolite_resync_all_ssh_keys]', 'true', false

%p
  = label_tag 'settings[gitolite_regenerate_all_ssh_keys]', l(:label_regenerate_all_ssh_keys)
  = check_box_tag 'settings[gitolite_regenerate_all_ssh_keys]', 'true', false

%p
  = label_tag 'settings[gitolite_flush_cache]', l(:label_flush_cache)
  = check_box_tag 'settings[gitolite_flush_cache]', 'true', false
