- if @repository.is_a?(Repository::Xitolite)

  #repository-tabs
    %ul
      - if user_allowed_to(:view_deployment_keys, @repository.project)
        %li{ id: 'tab-repository_deployment_credentials' }= link_to label_with_icon(l(:label_deployment_credentials), 'fa-ticket'), repository_deployment_credentials_path(@repository)

      - if user_allowed_to(:view_repository_git_notifications, @repository.project)
        %li{ id: 'tab-repository_git_notifications' }= link_to label_with_icon(l(:label_git_notifications), 'fa-envelope'), repository_git_notifications_path(@repository)

      - if user_allowed_to(:view_repository_mirrors, @repository.project)
        %li{ id: 'tab-repository_mirrors' }= link_to label_with_icon(l(:label_repository_mirrors), 'fa-sitemap'), repository_mirrors_path(@repository)

      - if user_allowed_to(:view_repository_post_receive_urls, @repository.project)
        %li{ id: 'tab-repository_post_receive_urls' }= link_to label_with_icon(l(:label_post_receive_urls), 'fa-external-link'), repository_post_receive_urls_path(@repository)

      - if user_allowed_to(:view_repository_git_config_keys, @repository.project)
        %li{ id: 'tab-repository_git_config_keys' }= link_to label_with_icon(l(:label_git_config_keys), 'fa-th-list'), repository_git_config_keys_path(@repository)

      - if user_allowed_to(:view_repository_protected_branches, @repository.project)
        %li{ id: 'tab-repository_protected_branches' }= link_to label_with_icon(l(:label_protected_branches), 'fa-lock'), repository_protected_branches_path(@repository)

  = render partial: 'javascript'
