<p>
	<label for="git_daemon"><%= l(:label_git_daemon) %>:</label>
	<select id="repository_git_daemon" name="repository[git_daemon]">
		<option <%= GitHostingHelper.git_daemon_enabled(@project, 0) %> value="0"><%= l(:label_disabled) %></option>
		<%- if @repository.project.is_public? -%>
		<option <%= GitHostingHelper.git_daemon_enabled(@project, 1) %> value="1"><%= l(:label_enabled) %></option>
		<%- end -%>
	</select>
</p>
<p>
	<label for="git_http"><%= l(:label_git_http) %>:</label>
	<select id="repository_git_http" name="repository[git_http]">
		<option <%= GitHostingHelper.git_http_enabled(@project, 0) %> value="0"><%= l(:label_disabled) %></option>
		<option <%= GitHostingHelper.git_http_enabled(@project, 1) %> value="1"><%= l(:label_https_only) %></option>
		<option <%= GitHostingHelper.git_http_enabled(@project, 2) %> value="1"><%= l(:label_https_and_http) %></option>
	</select>
</p>
<p>
	<label for="notify_cia"><%= l(:label_notify_cia) %>:</label>
	<select id="repository_notify_cia" name="repository[notify_cia]">
		<option <%= GitHostingHelper.notify_cia_enabled(@project, 0) %> value="0"><%= l(:label_disabled) %></option>
		<option <%= GitHostingHelper.notify_cia_enabled(@project, 1) %> value="1"><%= l(:label_enabled) %></option>
	</select>
	&nbsp;
	<a id="notify_cia_test" href="<%= url_for(:controller => "gitolite_hooks", :action => "test") %>">Test</a>
	&nbsp;
	<b><em><span id="notify_cia_result"></span></em></b>
</p>
<script type="text/javascript">
	Event.observe("notify_cia_test", 'click', function(event) {
		console.log("Clicked");
		Event.stop(event);
		new Ajax.Request('<%= url_for(:controller => "gitolite_hooks", :action => "test", :project_id => @project.identifier) %>', {
			onSuccess: function(transport) {
				console.log("ARRRRR");
				console.log(transport.responseText);
				$('notify_cia_result').update(transport.responseText)
			},
			onFailure: function(transport) {
				console.log(transport);
				$('notify_cia_result').update(transport.responseText);
			}
		})
	});
</script>
