<% if @repository && @repository.is_a?(Repository::Git) %>
  <div class="git_hosting box">
    <h3><%= l(:label_repository_access_url) %></h3>
    <%= render :partial => 'common/git_urls', :locals => {:repository => @repository} %>
  </div>
<% end %>


<%= labelled_form_for :repository, @repository, :url => repository_path(@repository), :html => {:method => :put} do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>


<% if @repository && @repository.is_a?(Repository::Git) %>

  <div id="repository-tabs">
    <ul>

      <% if user_allowed_to(:view_deployment_keys, @repository.project) %>
        <li>
          <%= link_to "<i class=\"fa fa-ticket\"></i>".html_safe + l(:label_deployment_credentials),
                      repository_deployment_credentials_path(@repository) %>
        </li>
      <% end %>

      <% if user_allowed_to(:view_repository_git_notifications, @repository.project) %>
        <li>
          <%= link_to "<i class=\"fa fa-envelope\"></i>".html_safe + l(:label_git_notifications),
                      repository_git_notifications_path(@repository) %>
        </li>
      <% end %>

      <% if user_allowed_to(:view_repository_mirrors, @repository.project) %>
        <li>
          <%= link_to "<i class=\"fa fa-sitemap\"></i>".html_safe + l(:label_repository_mirrors),
                      repository_mirrors_path(@repository) %>
        </li>
      <% end %>

      <% if user_allowed_to(:view_repository_post_receive_urls, @repository.project) %>
        <li>
          <%= link_to "<i class=\"fa fa-external-link\"></i>".html_safe + l(:label_post_receive_urls),
                      repository_post_receive_urls_path(@repository) %>
        </li>
      <% end %>

      <% if user_allowed_to(:view_repository_git_config_keys, @repository.project) %>
        <li>
          <%= link_to "<i class=\"fa fa-th-list\"></i>".html_safe + l(:label_git_config_keys),
                      repository_git_config_keys_path(@repository) %>
        </li>
      <% end %>
    </ul>
  </div>

  <div id="modal-box"></div>
  <div id="modal-box-close-only"></div>

  <% content_for :header_tags do %>
    <%= javascript_tag do %>
      function push_mode_change(elem) {
        if (!elem) return;
        var idx = elem.selectedIndex;
        if (idx == 0) {
          $('#ref_spec_options').hide();
        } else {
          $('#ref_spec_options').show();
        }
      }

      function key_mode_change(elem) {
        if (!elem) return;
        var idx = elem.selectedIndex;
        if (idx == 0) {
          $('#new_key_window').show();
        } else {
          $('#new_key_window').hide();
        }
      }

      var modals           = Object();
      modals.label_save    = '<%= l(:button_save) %>';
      modals.label_cancel  = '<%= l(:button_cancel) %>';
      modals.label_ok      = '<%= l(:button_ok) %>';
      modals.modal_list    = [];
      modals.modal_list[0] = {'source': '.modal-box', 'target': '#modal-box', 'mode': 'standard'};
      modals.modal_list[1] = {'source': '.modal-box-close-only', 'target': '#modal-box-close-only', 'mode': 'close-only'};

      $(document).ready(function() {
        $("#repository-tabs").tabs();
      });
    <% end %>
  <% end %>

<% end %>
