<h2><%= l(:label_repository) %></h2>

<%= call_hook(:view_repository_edit_top) %>

<%= labelled_form_for :repository, @repository, :url => repository_path(@repository), :html => {:method => :put, :id => 'repository-form'} do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

<%= call_hook(:view_repository_edit_bottom) %>
