%h2= l(:label_repository)

.container
  .row
    .col-md-12= call_hook(:view_repository_edit_top)

.container
  .row
    .col-md-6
      = labelled_form_for :repository, @repository, url: repository_path(@repository), html: { method: :put, id: 'repository-form' } do |f|
        = render :partial => 'form', :locals => {:f => f}

    .col-md-6{ id: 'xitolite-options' }= render partial: 'xitolite_options', locals: { repository: @repository }

.container
  .row
    .col-md-12= call_hook(:view_repository_edit_bottom)
