
<%# This is used to display basic git setup instructions, like on github... %>
<% flash.now[:warning] = "Repository is empty. Get started by following the instructions below." %>
<% gitSHP = Setting.plugin_redmine_git_hosting['gitServer'].match(/:\d+$/) %>
<% git_ssh_url =
   "#{gitSHP ? 'ssh://' : ''}#{Setting.plugin_redmine_git_hosting['gitUser']}@#{Setting.plugin_redmine_git_hosting['gitServer']}#{gitSHP ? '/' : ':'}#{GitHosting.repository_name(@project)}.git" %>
 
<div class="box">

<h2>Git Setup:</h2>
<pre>	<a href="http://git-scm.com/download" target="_blank">Download and Install Git</a>
	git config --global user.name "<%= User.current.name(:firstname_lastname) %>"
	git config --global user.email <%= User.current.mail %>
<% if User.current.gitolite_public_keys.active.length == 0 %><%= "\t" + (link_to "Upload SSH Public Key", {:controller => 'my', :action => 'account'}) + "\n</pre>" %><% else %><%= "</pre>" %><% end %>
<h2>Repository Setup:</h2>
<pre>	mkdir <%= @project.identifier %>
	cd <%= @project.identifier %>
	git init
	touch readme.txt
	git add readme.txt
	git commit -m 'Initializing <%= @project %> repository'
	git remote add origin <%= git_ssh_url %>
	git push -u origin master
</pre>
<h2>Existing Git Repo?</h2>
<pre>	cd existing_git_repo
	git remote add origin <%= git_ssh_url %>
	git push -u origin master
</pre>
</div>
