<%# This is used to display basic git setup instructions, like on github... %>
<% flash.now[:warning] = "Repository is empty. Get started by following the instructions below." %>

<%= render :partial => 'git_urls', :locals => {:repository => @repository, :project => @project} %>

<% gitSHP = GitHostingConf.git_server.match(/:\d+$/) %>
<% git_ssh_url = "#{gitSHP ? 'ssh://' : ''}#{GitHostingConf.git_user}@#{GitHostingConf.git_server}#{gitSHP ? '/' : ':'}#{GitHosting.repository_name(@repository)}.git" %>

<div class="box">

  <br />

  <h2>Git Setup:</h2>
  <pre>
    <a href="http://git-scm.com/download" target="_blank">Download and Install Git</a>
    git config --global user.name "<%= User.current.name(:firstname_lastname) %>"
    git config --global user.email <%= User.current.mail %>
    <% if User.current.gitolite_public_keys.active.length == 0 %>
    <%= link_to "Upload SSH Public Key", {:controller => 'my', :action => 'account'} %>
  </pre>
    <% else %>
  </pre>
    <% end %>

  <h2>Repository Setup:</h2>
  <pre>
    mkdir <%= @repository.git_name %>
    cd <%= @repository.git_name %>
    git init
    touch readme.txt
    git add readme.txt
    git commit -m 'Initializing <%= @repository.git_label %> repository'
    git remote add origin <%= git_ssh_url %>
    git push -u origin master
  </pre>

  <h2>Existing Git Repo?</h2>
  <pre>
    cd existing_git_repo
    git remote add origin <%= git_ssh_url %>
    git push -u origin master
  </pre>

</div>

<% if @repositories.size > 1 %>
  <% content_for :sidebar do %>
    <h3><%= l(:label_repository_plural) %></h3>
    <p>
      <%= @repositories.sort.collect {|repo|
          link_to h(repo.name),
                  {:controller => 'repositories', :action => 'show',
                   :id => @project, :repository_id => repo.identifier_param, :rev => nil, :path => nil},
                   :class => 'repository' + (repo == @repository ? ' selected' : '')
          }.join('<br />').html_safe %>
    </p>
  <% end %>
<% end %>
