<% content_for :header_tags do %>
  <%= bootstrap_load_module(:font_awesome) %>
<% end %>

<table class="list">

  <% if ssh_keys.empty? %>
    <tr>
      <td>
        <label><%= l(:label_no_public_keys) %></label>
      </td>
    </tr>
  <% else %>
    <% ssh_keys.each do |key| %>
      <tr class="<%= curcycle = cycle('odd', 'even'); (@gitolite_public_key == key) ? 'highlight' : curcycle %>">
        <td style="text-align: left;"><%= h(key) %></td>

        <td style="text-align: left;"><i class="fa fa-check" style="color: green; margin-left: 5px; margin-right: 5px;"></i><%= key.fingerprint %></td>

        <% if params[:id] %>
          <td style="text-align: left;"><%= key.gitolite_path %></td>
        <% end %>

        <td style="width:10%;" class="buttons">
          <%= link_to l(:button_delete), public_key_path(key, :user_id => params[:id]),
                                         :method  => 'delete',
                                         :class   => 'icon icon-del',
                                         :confirm => l(:text_gitolite_key_destroy_confirmation, :title => keylabel(key)) %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
