<% if not @is_xhr -%>
  <h2><%=l(:label_mirror_push_title)%></h2>
<%- end %>

<p style="white-space:nowrap;">
  <%= l(:label_mirror_push_info_html, :mirror_url => @mirror.url, :status => @push_failed == true ? l(:label_mirror_push_fail) : l(:label_mirror_push_sucess)).html_safe %>
</p>

<span><b><%= l(:label_mirror_push_output) %></b></span>

<pre class="mirror-push<%= @push_failed == true ? " error": "" %>">
  <%= @shellout %>
</pre>
