<% if not @is_xhr %>
  <h2><%=l(:label_mirror_delete)%></h2>
<% end %>

<%= labelled_form_for :repository_mirrors, @mirror,
                      :url  => { :controller => 'repository_mirrors', :action => 'destroy', :project_id => @project, :id => @mirror.id },
                      :html => { :method => :delete, :remote => @is_xhr } do |f| %>

  <div class="warning" style="margin: 0; padding: 5px 15px;">
    <p>
      <strong><%= @mirror.url %></strong><br/>
      Are you sure you want to delete the repository mirror?
    </p>

    <p>
      <label><%= check_box_tag 'confirm', 1 %> <%= l(:general_text_Yes) %></label>
    </p>
  </div>

  <% if !@is_xhr %>
    <%= submit_tag l(:button_delete), :disable_with => l(:label_delete_in_progress) %>
    <%= link_to l(:button_cancel), url_for(:controller => 'repositories', :action => 'edit', :id => @repository.id) %>
  <% end %>

<% end %>
