<% content_for :header_tags do %>
  <script type="text/javascript">

    Event.observe(window, 'load', function(event){
      setUpPrototypeModalBox('a.add-post-receive-url',    "<%=l(:label_post_receive_url_create)%>");
      setUpPrototypeModalBox('a.edit-post-receive-url',   "<%=l(:label_post_receive_url_edit)%>");
      setUpPrototypeModalBox('a.delete-post-receive-url', "<%=l(:label_post_receive_url_delete)%>");
    });

  </script>
<% end %>

<div class="box tabular">

  <% if GitHostingHelper.can_create_post_receive_urls(@repository.project) %>
    <div class="contextual">
      <%= link_to(l(:label_post_receive_url_add), url_for(:controller => 'repository_post_receive_urls', :action => 'create', :repository_id => @repository.id),
                                                  :class => 'icon icon-add add-post-receive-url') %>
    </div>
  <% end %>

  <h3 class="git"><%= l(:label_post_receive_urls) %></h3>

  <% if @repository.repository_post_receive_urls.any? %>
    <div class="autoscroll">
      <table class="list" style="margin: 1px 2px; width: 99%">
        <thead>
          <tr>
            <th>URL</th>
            <th style="text-align:center;">Mode</th>
            <th style="text-align:center;">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <% @repository.repository_post_receive_urls.each do |prurl| %>
            <tr class="<%= cycle('odd', 'even') %>">
              <td class="name" style="vertical-align:middle;">
                  <%= link_to(h(prurl.url), url_for(:controller => 'repository_post_receive_urls', :action => 'edit', :repository_id => @repository.id, :id => prurl.id),
                                            :class => 'edit-post-receive-url') %>
              </td>
              <td class="center" width="10%" style="vertical-align:middle;">
                <%= GitHostingHelper.post_receive_mode(prurl).html_safe %><br />
                <%= checked_image prurl.active? %>
              </td>
              <td class="buttons" width="20%" style="vertical-align:middle; text-align:right;">
                <% if GitHostingHelper.can_edit_post_receive_urls(@repository.project) %>
                  <%= link_to(l(:button_edit), url_for(:controller => 'repository_post_receive_urls', :action => 'edit', :repository_id => @repository.id, :id => prurl.id),
                                               :class => 'icon icon-edit edit-post-receive-url') %>

                  <%= link_to(l(:button_delete), url_for(:controller => 'repository_post_receive_urls', :action => 'destroy', :repository_id => @repository.id, :id => prurl.id),
                                                 :class => 'icon icon-del delete-post-receive-url') %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <table class="list" style="margin:1px 2px; width:99%">
      <thead><tr><th style="text-align:center;">No Post Receive URLs Defined</th></tr></thead>
    </table>
  <% end %>

</div>
