<% if not @is_xhr %>
  <h2><%=l(:label_post_receive_url_edit)%></h2>
<% end %>

<%= labelled_form_for :repository_post_receive_urls, @prurl,
                      :url  => { :controller => 'repository_post_receive_urls', :action => 'update', :project_id => @project, :id => @prurl.id },
                      :html => { :method => :put, :class => 'tabular', :remote => @is_xhr } do |f| %>

  <%= render :partial => 'form', :locals => { :f => f } %>

  <% if !@is_xhr %>
    <%= submit_tag l(:button_save), :disable_with => l(:label_backup_in_progress) %>
    <%= link_to l(:button_cancel), url_for(:controller => 'repositories', :action => 'edit', :id => @repository.id) %>
  <% end %>
<% end %>
