<% content_for :header_tags do %>
  <%= stylesheet_link_tag :application,      :plugin => 'redmine_git_hosting' %>
<% end %>





<% settings_tabs = [
                    {:name => 'gitolite_config_ssh',        :partial => 'settings/gitolite_config_ssh',     :label => :label_tab_ssh},
                    {:name => 'gitolite_config_storage',    :partial => 'settings/gitolite_config_storage', :label => :label_tab_storage},
                    {:name => 'gitolite_config_global',     :partial => 'settings/gitolite_config_global',  :label => :label_tab_global},
                    {:name => 'gitolite_config_access',     :partial => 'settings/gitolite_config_access',  :label => :label_tab_access},
                    {:name => 'gitolite_config_hooks',      :partial => 'settings/gitolite_config_hooks',   :label => :label_tab_hooks},
                    {:name => 'gitolite_config_cache',      :partial => 'settings/gitolite_config_cache',   :label => :label_tab_cache},
                    {:name => 'gitolite_config_notify',     :partial => 'settings/gitolite_config_notify',  :label => :label_tab_notify},
                    {:name => 'gitolite_redmine_config',    :partial => 'settings/redmine_config',          :label => :label_tab_redmine},
                    {:name => 'gitolite_config_test',       :partial => 'settings/gitolite_config_test',    :label => :label_tab_config_test},
                    #{:name => 'gitolite_sidekiq_interface', :partial => 'settings/sidekiq_interface',       :label => :label_tab_sidekiq_interface},
                    {:name => 'gitolite_rescue',            :partial => 'settings/gitolite_rescue',         :label => :label_tab_gitolite_rescue},
                   ] %>

<span><%= l(:label_need_help) %> : <%= link_to l(:label_redmine_git_hosting_wiki), REDMINE_WIKI, :target => '_blank' %></span>
<br />
<span><%= l(:label_open_issue) %> : <%= link_to l(:label_redmine_git_hosting_issue), REDMINE_ISSUE, :target => '_blank' %></span>
<br />
<br />

<div class="tabular settings">
  <%= render_tabs settings_tabs %>
</div>
