<% content_for :header_tags do %>
  <%= stylesheet_link_tag('application', :plugin => 'redmine_git_hosting') %>
  <%= stylesheet_link_tag('modalbox/modalbox', :plugin => 'redmine_git_hosting') %>
  <%= javascript_include_tag('modalbox/modalbox', :plugin => 'redmine_git_hosting') %>
<% end %>

<% form = labelled_form_for :repository, @repository, :url => { :controller => 'repositories', :action => 'edit', :id => @project } do |f| %>

  <%= error_messages_for 'repository' %>

  <div class="box tabular">
    <% if @repository && @repository.is_a?(Repository::Git) && (GitHostingHelper.can_view_deployment_keys(@repository.project) || GitHostingHelper.can_view_post_receive_urls(@repository.project) || GitHostingHelper.can_view_mirrors(@repository.project)) %>
      <h3>Repository Options</h3>
    <% end %>

    <p><%= label_tag('repository_scm', l(:label_scm)) %><%= scm_select_tag(@repository) %></p>

    <% if @repository && @repository.is_a?(Repository::Git) %>
      <p>
        <%= label_tag  "extra[git_daemon]", l(:field_git_daemon) %>
        <%= select_tag "extra[git_daemon]", options_for_select([ [l(:label_disabled), "0"], [l(:label_enabled), "1"]], :selected=>(@project.is_public ? @repository.extra[:git_daemon].to_s : "0")), :disabled => !@project.is_public %>
      </p>

      <p>
        <%= label_tag  "extra[git_http]", l(:field_git_http) %>
        <%= select_tag "extra[git_http]", options_for_select([ [l(:label_disabled), "0"], [l(:label_https_only), "1"], [l(:label_https_and_http), "2"] ], :selected=>@repository.extra[:git_http].to_s) %>
      </p>

      <p>
        <%= label_tag  "extra[notify_cia]", l(:field_notify_cia) %>
        <%= select_tag "extra[notify_cia]", options_for_select([ [l(:label_disabled), "0"], [l(:label_enabled), "1"]], :selected=>@repository.extra[:notify_cia].to_s) %>
        <% if @repository.extra[:notify_cia].to_s == "1" %>
          <a id="notify_cia_test" href="<%= url_for(:controller => "gitolite_hooks", :action => "test", :projectid => @repository.project.identifier) %>"><%= l(:field_notify_cia_test) %></a>
          <em><b><span id="notify_cia_result"></span></b></em>
        <% end %>
      </p>

      <%= javascript_include_tag('notify_cia_test', :plugin => 'redmine_git_hosting') %>
      <br/>
    <% else %>
      <%= repository_field_tags(f, @repository) if @repository %>
    <% end %>

    <div class="contextual">
      <% if @repository && !@repository.new_record? %>
        <%= link_to(l(:label_user_plural), {:controller => 'repositories', :action => 'committers', :id => @project}, :class => 'icon icon-user') %>
        <%= link_to(l(:button_delete), {:controller => 'repositories', :action => 'destroy', :id => @project}, :confirm => l(:text_are_you_sure),:method => :post,:class => 'icon icon-del') %>
      <% end %>
    </div>

    <%= submit_tag((@repository.nil? || @repository.new_record?) ? l(:button_create) : l(:button_save), :disabled => @repository.nil?) %>
  </div>

<% end %>
<%= form if Rails::VERSION::MAJOR >= 3 %>

<% if @repository && @repository.is_a?(Repository::Git) && !(@repository.nil? || @repository.new_record?) %>
  <% if GitHostingHelper.can_view_deployment_keys(@repository.project) %>
    <%= render :partial => 'deployment_credentials/view_list' %>
  <% end %>

  <% if GitHostingHelper.can_view_post_receive_urls(@repository.project) %>
    <%= render :partial => 'repository_post_receive_urls/view_list' %>
  <% end %>

  <% if GitHostingHelper.can_view_mirrors(@repository.project) %>
    <%= render :partial => 'repository_mirrors/view_list' %>
  <% end %>
<% end %>
