.flash-messages= error_messages_for 'git_notification'

.box

  %p= f.text_field :prefix, label: :label_gitolite_notify_prefix
  %p= f.text_field :sender_address, label: :label_gitolite_notify_sender_address

  = hidden_field_tag 'repository_git_notification[include_list][]'
  = hidden_field_tag 'repository_git_notification[exclude_list][]'

  %p
    %label{ for: 'repository_git_notification[include_list]' }= l(:label_git_notification_include_list) + ' :'

  = tag_it_list 'repository_git_notification_include_list',
                { name: 'repository_git_notification[include_list][]' },
                { source: 'mailing_list_default_users', placeholder: '+ add email' } do

    - if !@git_notification.nil? && @git_notification.include_list.any?
      - @git_notification.include_list.each do |item|
        %li= item

  %p
    %label{ for: 'repository_git_notification[exclude_list]' }= l(:label_git_notification_exclude_list) + ' :'

  = tag_it_list 'repository_git_notification_exclude_list',
                { name: 'repository_git_notification[exclude_list][]' },
                { source: 'mailing_list_default_users', placeholder: '+ add email' } do

    - if !@git_notification.nil? && @git_notification.exclude_list.any?
      - @git_notification.exclude_list.each do |item|
        %li= item

:javascript
  var mailing_list_default_users = #{raw @repository.default_list.to_json};
  $(document).ready(function(){ setTagIt(); });
