<% if !@is_xhr %>
  <h2><%=l(:label_git_notifications_edit)%></h2>
<% end %>

<%= labelled_form_for :repository_git_notifications, @git_notification,
                      :url  => repository_git_notification_path(@repository, @git_notification),
                      :html => { :method => :put, :class => 'tabular', :remote => @is_xhr } do |f| %>

  <%= render :partial => 'form', :locals => { :f => f } %>

  <% if !@is_xhr %>
    <%= submit_tag l(:button_save), :disable_with => l(:label_backup_in_progress) %>
    <%= link_to l(:button_cancel), url_for(:controller => 'repositories', :action => 'edit', :id => @repository.id) %>
  <% end %>
<% end %>
