<div>

  <% if @repository.extra[:git_notify] %>

    <% if !@git_notification.nil? %>

      <% if user_allowed_to(:edit_repository_git_notifications, @project) %>

        <div class="contextual">
          <%= link_to(l(:label_git_notifications_edit), edit_repository_git_notification_path(@repository, @git_notification),
                                                        :class => 'icon icon-edit modal-box') %>

          <%= link_to(l(:label_git_notifications_delete), repository_git_notification_path(@repository, @git_notification),
                                                          :remote  => true,
                                                          :method  => :delete,
                                                          :confirm => l(:text_are_you_sure),
                                                          :class   => 'icon icon-del') %>
        </div>
      <% end %>

    <% else %>

      <% if user_allowed_to(:create_repository_git_notifications, @project) %>
        <div class="contextual">
          <%= link_to(l(:label_git_notifications_add), new_repository_git_notification_path(@repository),
                                                       :class => 'icon icon-add modal-box') %>
        </div>
      <% end %>

    <% end %>
  <% end %>

  <h3 class="git"><%= l(:label_git_notifications) %></h3>

  <% if @repository.mailing_list_default_users.any? ||
        (!@git_notification.nil? && @git_notification.include_list.any?) ||
        (!@git_notification.nil? && @git_notification.exclude_list.any?) %>

    <div style="opacity: <%= @repository.extra[:git_notify] ? '1' : '0.5' %>;">

      <% if !@git_notification.nil? %>
        <p>
          <label><%= l(:label_gitolite_notify_prefix) %></label>
          <span class="label label-info"><%= @git_notification.prefix %></span>
        </p>
        <p>
          <label><%= l(:label_gitolite_notify_sender_address) %></label>
          <span class="label label-info"><%= @git_notification.sender_address %></span>
        </p>
      <% end %>

      <div style="display:block;height:10px;clear:both;"></div>

      <table class="list git_mailing_list">
        <tr>
          <th><%= l(:label_git_notification_default_list) %></th>
          <th><%= l(:label_git_notification_include_list) %></th>
          <th><%= l(:label_git_notification_exclude_list) %></th>
          <th><%= l(:label_git_notification_effective_list) %></th>
        </tr>
        <tr>
          <td>
            <% if @repository.mailing_list_default_users.any? %>
              <ul>
                <% @repository.mailing_list_default_users.each do |item| %>
                  <li><%= item %></li>
                <% end %>
              </ul>
            <% end %>
          </td>

          <td>
            <% if !@git_notification.nil? && @git_notification.include_list.any? %>
              <ul>
                <% @git_notification.include_list.sort.each do |item| %>
                  <li><%= item %></li>
                <% end %>
              </ul>
            <% end %>
          </td>

          <td>
            <% if !@git_notification.nil? && @git_notification.exclude_list.any? %>
              <ul>
                <% @git_notification.exclude_list.sort.each do |item| %>
                  <li><%= item %></li>
                <% end %>
              </ul>
            <% end %>
          </td>

          <td>
            <% if @repository.mailing_list_effective.any? %>
              <ul>
                <% @repository.mailing_list_effective.each do |item, from| %>
                  <li><%= item %> (<%= from %>)</li>
                <% end %>
              </ul>
            <% end %>
          </td>
        </tr>
      </table>
    </div>

  <% else %>
    <p class="nodata"><%= l(:label_no_data) %></p>
  <% end %>

</div>

<%= javascript_tag do %>
  $(document).ready(function() {
    initModalBoxes(modals);
  });
<% end %>
