<%
  # Gitolite Global Config
  gitolite_recycle_bin_expiration_time = RedmineGitolite::Config.get_setting(:gitolite_recycle_bin_expiration_time)

  gitolite_temp_dir    = RedmineGitolite::Config.get_setting(:gitolite_temp_dir)
  gitolite_log_level   = RedmineGitolite::Config.get_setting(:gitolite_log_level)
  gitolite_log_split   = RedmineGitolite::Config.get_setting(:gitolite_log_split, true)

  git_config_username  = RedmineGitolite::Config.get_setting(:git_config_username)
  git_config_email     = RedmineGitolite::Config.get_setting(:git_config_email)
%>

<h3><%= l(:label_gitolite_global_config) %></h3>

<p>
  <label><%= l(:label_gitolite_temp_dir) %></label>
  <%= text_field_tag("settings[gitolite_temp_dir]", gitolite_temp_dir, :size => 60) %>
  <br />
  <em><%= l(:label_gitolite_temp_dir_desc) %></em>
</p>

<p>
  <label><%= l(:label_gitolite_recycle_bin_expiration_time) %></label>
  <%= text_field_tag("settings[gitolite_recycle_bin_expiration_time]", gitolite_recycle_bin_expiration_time, :size => 10) %>
  <br />
  <em><%= l(:label_gitolite_recycle_bin_expiration_time_desc) %></em>
</p>

<p>
  <label><%= l(:label_gitolite_log_level) %></label>
  <%= select_tag("settings[gitolite_log_level]", options_for_select(
    [
      [l(:label_debug), 'debug'],
      [l(:label_info), 'info'],
      [l(:label_warn), 'warn'],
      [l(:label_error), 'error']
    ], gitolite_log_level)) %>
  <br />
  <em><%= l(:label_gitolite_log_split_desc) %></em>
</p>

<p>
  <label><%= l(:label_gitolite_log_split) %></label>
  <span class="bootstrap-switch switch-small" data-on="primary" data-off="default" data-on-label="<%= l(:label_yes) %>" data-off-label="<%= l(:label_no) %>">
    <%= hidden_field_tag "settings[gitolite_log_split]", "false" %>
    <%= check_box_tag "settings[gitolite_log_split]", gitolite_log_split, gitolite_log_split %>
  </span>
  <br />
  <em><%= l(:label_gitolite_log_split_desc) %></em>
  <br />
  <% if gitolite_log_split %>
    <em><%= l(:label_gitolite_log_split_on) %></em>
  <% else %>
    <em><%= l(:label_gitolite_log_split_off) %></em>
  <% end %>
</p>

<p>
  <label><%= l(:label_git_config_username) %></label>
  <%= text_field_tag("settings[git_config_username]", "#{git_config_username}", :size => 60) %>
  <br />
  <em><%= l(:label_git_config_username_desc) %></em>
</p>

<p>
  <label><%= l(:label_git_config_email) %></label>
  <%= text_field_tag("settings[git_config_email]", "#{git_config_email}", :size => 60) %>
  <br />
  <em><%= l(:label_git_config_email_desc) %></em>
</p>
