/ Gitolite Notifications Config
- gitolite_notify_by_default            = RedmineGitHosting::Config.get_setting(:gitolite_notify_by_default, true)
- gitolite_notify_global_prefix         = RedmineGitHosting::Config.get_setting(:gitolite_notify_global_prefix)
- gitolite_notify_global_sender_address = RedmineGitHosting::Config.get_setting(:gitolite_notify_global_sender_address)
- gitolite_notify_global_include        = RedmineGitHosting::Config.get_setting(:gitolite_notify_global_include)
- gitolite_notify_global_exclude        = RedmineGitHosting::Config.get_setting(:gitolite_notify_global_exclude)

%h3= l(:label_gitolite_notify_config)

%p
  %label= l(:label_gitolite_notify_by_default)
  = bootstrap_switch_tag do
    = hidden_field_tag 'settings[gitolite_notify_by_default]', 'false'
    = check_box_tag 'settings[gitolite_notify_by_default]', gitolite_notify_by_default, gitolite_notify_by_default

%p
  %label= l(:label_gitolite_notify_global_prefix)
  = text_field_tag 'settings[gitolite_notify_global_prefix]', gitolite_notify_global_prefix, size: 60

%p
  %label= l(:label_gitolite_notify_global_sender_address)
  = text_field_tag 'settings[gitolite_notify_global_sender_address]', gitolite_notify_global_sender_address, size: 60

%p
  %label= l(:label_gitolite_notify_global_include)

= hidden_field_tag 'settings[gitolite_notify_global_include][]', ''
= tag_it_list 'settings_gitolite_notify_global_include', { name: 'settings[gitolite_notify_global_include][]' }, { placeholder: '+ add email' } do
  - if gitolite_notify_global_include.any?
    - gitolite_notify_global_include.each do |item|
      %li= item

%p
  %label= l(:label_gitolite_notify_global_exclude)

= hidden_field_tag 'settings[gitolite_notify_global_exclude][]', ''
= tag_it_list 'settings_gitolite_notify_global_exclude', { name: 'settings[gitolite_notify_global_exclude][]' }, { placeholder: '+ add email' } do
  - if gitolite_notify_global_exclude.any?
    - gitolite_notify_global_exclude.each do |item|
      %li= item

:javascript
  $(document).ready(function() { setTagIt(); });
