/ Gitolite Hooks Config
- gitolite_hooks_are_asynchronous = RedmineGitHosting::Config.get_setting(:gitolite_hooks_are_asynchronous, true)
- gitolite_force_hooks_update     = RedmineGitHosting::Config.get_setting(:gitolite_force_hooks_update, true)
- gitolite_hooks_debug            = RedmineGitHosting::Config.get_setting(:gitolite_hooks_debug, true)
- gitolite_hooks_url              = RedmineGitHosting::Config.get_setting(:gitolite_hooks_url)

%h3= l(:label_gitolite_hooks_config)

%p
  %label= l(:label_gitolite_hooks_are_asynchronous)
  = bootstrap_switch_tag do
    = hidden_field_tag 'settings[gitolite_hooks_are_asynchronous]', 'false'
    = check_box_tag 'settings[gitolite_hooks_are_asynchronous]', gitolite_hooks_are_asynchronous, gitolite_hooks_are_asynchronous

%p
  %label= l(:label_gitolite_force_hooks_update)
  = bootstrap_switch_tag do
    = hidden_field_tag 'settings[gitolite_force_hooks_update]', 'false'
    = check_box_tag 'settings[gitolite_force_hooks_update]', gitolite_force_hooks_update, gitolite_force_hooks_update

%p
  %label= l(:label_gitolite_hooks_debug)
  = bootstrap_switch_tag do
    = hidden_field_tag 'settings[gitolite_hooks_debug]', 'false'
    = check_box_tag 'settings[gitolite_hooks_debug]', gitolite_hooks_debug, gitolite_hooks_debug

%p
  %label= l(:label_gitolite_hooks_url)
  = text_field_tag 'settings[gitolite_hooks_url]', gitolite_hooks_url, size: 60
  %br
  %em
    = l(:label_default_gitolite_hooks_url) + ' :'
    = "#{Setting.protocol}://#{Setting.host_name.split('/').first}"

%p
  %label= l(:label_gitolite_hooks_url)
  %span{ class: 'label label-info' }= RedmineGitHosting::Config.gitolite_hooks_url

%p
  %label= l(:label_gitolite_hooks_namespace)
  %span{ class: 'label label-info' }= RedmineGitHosting::Config.gitolite_hooks_namespace
