<%
  # Gitolite Access Config
  ssh_server_domain   = RedmineGitolite::Config.get_setting(:ssh_server_domain)
  http_server_domain  = RedmineGitolite::Config.get_setting(:http_server_domain)
  https_server_domain = RedmineGitolite::Config.get_setting(:https_server_domain)
  http_server_subdir  = RedmineGitolite::Config.get_setting(:http_server_subdir)

  gitolite_http_by_default   = RedmineGitolite::Config.get_setting(:gitolite_http_by_default)

  show_repositories_url      = RedmineGitolite::Config.get_setting(:show_repositories_url, true)
  gitolite_daemon_by_default = RedmineGitolite::Config.get_setting(:gitolite_daemon_by_default, true)
  download_revision_enabled  = RedmineGitolite::Config.get_setting(:download_revision_enabled, true)
%>

<h3><%= l(:label_gitolite_access_config) %></h3>

<p>
  <label><%= l(:label_ssh_server_domain) %></label>
  <%= text_field_tag("settings[ssh_server_domain]", ssh_server_domain, :size => 60) %>
  <br />
  <em><%= l(:label_default_domain_name) %> : <%= Setting.host_name.split('/').first %></em>
</p>

<p>
  <label><%= l(:label_http_server_domain) %></label>
  <%= text_field_tag("settings[http_server_domain]", http_server_domain, :size => 60) %>
  <br />
  <em><%= l(:label_default_domain_name) %> : <%= Setting.host_name.split('/').first %></em>
</p>

<p>
  <label><%= l(:label_https_server_domain) %></label>
  <%= text_field_tag("settings[https_server_domain]", https_server_domain, :size => 60) %>
  <br />
  <em><%= l(:label_https_server_domain_desc) %></em>
</p>

<p>
  <label><%= raw l(:label_http_server_subdir) %></label>
  <%= text_field_tag("settings[http_server_subdir]", "./#{http_server_subdir}", :size => 60) %>
</p>

<p>
  <label><%= l(:label_gitolite_http_by_default) %></label>
  <%= select_tag("settings[gitolite_http_by_default]", options_for_select([
                                                                            [l(:label_disabled), "0"],
                                                                            [l(:label_http_only), "3"],
                                                                            [l(:label_https_only), "1"],
                                                                            [l(:label_https_and_http), "2"]
                                                                          ], gitolite_http_by_default)) %>
</p>

<p>
  <label><%= l(:label_show_repositories_url) %></label>
  <span class="bootstrap-switch switch-small" data-on="primary" data-off="default" data-on-label="<%= l(:label_yes) %>" data-off-label="<%= l(:label_no) %>">
    <%= hidden_field_tag "settings[show_repositories_url]", "false" %>
    <%= check_box_tag "settings[show_repositories_url]", show_repositories_url, show_repositories_url %>
  </span>
</p>

<p>
  <label><%= l(:label_gitolite_daemon_by_default) %></label>
  <span class="bootstrap-switch switch-small" data-on="primary" data-off="default" data-on-label="<%= l(:label_yes) %>" data-off-label="<%= l(:label_no) %>">
    <%= hidden_field_tag "settings[gitolite_daemon_by_default]", "false" %>
    <%= check_box_tag "settings[gitolite_daemon_by_default]", gitolite_daemon_by_default, gitolite_daemon_by_default %>
  </span>
</p>

<p>
  <label><%= l(:label_gitolite_download_revision_enabled) %></label>
  <span class="bootstrap-switch switch-small" data-on="primary" data-off="default" data-on-label="<%= l(:label_yes) %>" data-off-label="<%= l(:label_no) %>">
    <%= hidden_field_tag "settings[download_revision_enabled]", "false" %>
    <%= check_box_tag "settings[download_revision_enabled]", download_revision_enabled, download_revision_enabled %>
  </span>
</p>
