<%
  # Gitolite Cache Config
  gitolite_cache_max_time     = RedmineGitolite::ConfigRedmine.get_setting(:gitolite_cache_max_time)
  gitolite_cache_max_size     = RedmineGitolite::ConfigRedmine.get_setting(:gitolite_cache_max_size)
  gitolite_cache_max_elements = RedmineGitolite::ConfigRedmine.get_setting(:gitolite_cache_max_elements)
%>

<h3><%= l(:label_gitolite_cache_config) %></h3>

<p>
  <label><%= l(:label_gitolite_cache_max_time) %></label>
  <%= select_tag("settings[gitolite_cache_max_time]",options_for_select(
    [
      ["Cache Disabled", "0"],
      ["Until next commit", "-1"],
      ["1 Minute or until next commit", "60"],
      ["15 Minutes or until next commit", "900"],
      ["1 Hour or until next commit", "3600"],
      ["1 Day or until next commit", "86400"]
    ], gitolite_cache_max_time )) %>
  <br />
</p>

<p>
  <label><%= l(:label_gitolite_cache_max_size) %></label>
  <%= text_field_tag("settings[gitolite_cache_max_size]", gitolite_cache_max_size, :size => 20) %><em>&nbsp;MB</em>
  <br />
</p>

<p>
  <label><%= l(:label_gitolite_cache_max_elements) %></label>
  <%= text_field_tag("settings[gitolite_cache_max_elements]", gitolite_cache_max_elements, :size => 20) %>
  <br />
</p>
