<%
  # Gitolite SSH Config
  gitolite_user            = RedmineGitolite::Config.get_setting(:gitolite_user)
  gitolite_server_port     = RedmineGitolite::Config.get_setting(:gitolite_server_port)
  gitolite_ssh_private_key = RedmineGitolite::Config.get_setting(:gitolite_ssh_private_key)
  gitolite_ssh_public_key  = RedmineGitolite::Config.get_setting(:gitolite_ssh_public_key)
  scripts_dir_writeable    = GitHosting.scripts_dir_writeable?(:reset)
%>

<h3><%= l(:label_gitolite_ssh_config) %></h3>

<p>
  <label><%= l(:label_gitolite_user) %><%= "<br/><em>[ #{l(:label_cannot_change_selinux)} ]</em>" if !scripts_dir_writeable %></label>
  <%= text_field_tag("settings[gitolite_user]", gitolite_user, :size => 60) %>
  <br />
</p>

<p>
  <label><%= l(:label_gitolite_ssh_private_key) %><%= "<br/><em>[ #{l(:label_cannot_change_selinux)} ]</em>" if !scripts_dir_writeable %></label>
  <%= text_field_tag("settings[gitolite_ssh_private_key]", gitolite_ssh_private_key, :size => 60) %>
  <br />
</p>

<p>
  <label><%= l(:label_gitolite_ssh_public_key) %><%= "<br/><em>[ #{l(:label_cannot_change_selinux)} ]</em>" if !scripts_dir_writeable %></label>
  <%= text_field_tag("settings[gitolite_ssh_public_key]", gitolite_ssh_public_key, :size => 60) %>
  <br />
</p>

<p>
  <label><%= l(:label_gitolite_server_port) %><%= "<br/><em>[ #{l(:label_cannot_change_selinux)} ]</em>" if !scripts_dir_writeable %></label>
  <%= text_field_tag("settings[gitolite_server_port]", gitolite_server_port, :size => 5) %>
  <br />
</p>
