<%
  # Gitolite Hooks Config
  gitolite_hooks_are_asynchronous = RedmineGitolite::Config.get_setting(:gitolite_hooks_are_asynchronous, true)
  gitolite_force_hooks_update     = RedmineGitolite::Config.get_setting(:gitolite_force_hooks_update, true)
  gitolite_hooks_debug            = RedmineGitolite::Config.get_setting(:gitolite_hooks_debug, true)
%>

<h3><%= l(:label_gitolite_hooks_config) %></h3>

<p>
  <label><%= l(:label_gitolite_hooks_are_asynchronous) %></label>
  <span class="bootstrap-switch switch-small" data-on="primary" data-off="default" data-on-label="<%= l(:label_yes) %>" data-off-label="<%= l(:label_no) %>">
    <%= hidden_field_tag "settings[gitolite_hooks_are_asynchronous]", "false" %>
    <%= check_box_tag "settings[gitolite_hooks_are_asynchronous]", gitolite_hooks_are_asynchronous, gitolite_hooks_are_asynchronous %>
  </span>
</p>

<p>
  <label><%= l(:label_gitolite_force_hooks_update) %></label>
  <span class="bootstrap-switch switch-small" data-on="primary" data-off="default" data-on-label="<%= l(:label_yes) %>" data-off-label="<%= l(:label_no) %>">
    <%= hidden_field_tag "settings[gitolite_force_hooks_update]", "false" %>
    <%= check_box_tag "settings[gitolite_force_hooks_update]", gitolite_force_hooks_update, gitolite_force_hooks_update %>
  </span>
</p>

<p>
  <label><%= l(:label_gitolite_hooks_debug) %></label>
  <span class="bootstrap-switch switch-small" data-on="primary" data-off="default" data-on-label="<%= l(:label_yes) %>" data-off-label="<%= l(:label_no) %>">
    <%= hidden_field_tag "settings[gitolite_hooks_debug]", "false" %>
    <%= check_box_tag "settings[gitolite_hooks_debug]", gitolite_hooks_debug, gitolite_hooks_debug %>
  </span>
</p>

<p>
  <label><%= l(:label_gitolite_hooks_url) %></label>
  <span class="label label-info"><%= RedmineGitolite::HookManager.gitolite_hooks_url %></span>
</p>

<p>
  <label><%= l(:label_gitolite_hooks_namespace) %></label>
  <span class="label label-info"><%= RedmineGitolite::HookManager.gitolite_hooks_namespace %></span>
</p>
