<h3><%= l(:label_permissions_header) %></h3>

<table class="table table-hover">

  <tr>
    <td><%= l(:label_temp_dir_writeable) %></td>
    <td>
      <% state = RedmineGitolite::GitoliteWrapper.temp_dir_writeable?(:reset => true) %>
      <span class="label label-<%= state ? 'success' : 'important' %>"><%= RedmineGitolite::GitoliteWrapper.gitolite_admin_dir %></span>
    </td>
  </tr>

  <tr>
    <td><%= l(:label_redmine_user) %></td>
    <td><span class="label label-success"><%= RedmineGitolite::GitoliteWrapper.redmine_user %></span></td>
  </tr>

  <tr>
    <td><%= l(:label_gitolite_user) %></td>
    <td><span class="label label-success"><%= RedmineGitolite::GitoliteWrapper.gitolite_user %></span></td>
  </tr>

  <tr>
    <td><%= l(:label_sudo_gitolite_to_redmine_user) %></td>
    <td><%= image_tag (RedmineGitolite::GitoliteWrapper.can_gitolite_sudo_to_redmine_user? ? 'true.png' : 'exclamation.png') %></td>
  </tr>

  <tr>
    <td><%= l(:label_sudo_redmine_to_gitolite_user) %></td>
    <td><%= image_tag (RedmineGitolite::GitoliteWrapper.can_redmine_sudo_to_gitolite_user? ? 'true.png' : 'exclamation.png') %></td>
  </tr>

  <% gitolite_checks = RedmineGitolite::HookManager.check_install! %>

  <tr>
    <td><%= l(:label_gitolite_hook_dirs_installed) %></td>
    <td>
      <% hook_dirs_installed  = gitolite_checks[:hook_dirs] %>
      <% hook_dirs_installed.each do |hook, installed| %>
        <%= image_tag((installed ? 'true.png' : 'exclamation.png'), :style => "vertical-align: bottom;") %>
        <em><%= hook %></em>
        <br />
      <% end %>
    </td>
  </tr>

  <tr>
    <td><%= l(:label_gitolite_hooks_installed) %></td>
    <td>
      <% hooks_installed  = gitolite_checks[:hook_files] %>
      <% hooks_installed.each do |hook, installed| %>
        <% image, tip = render_hook_state(installed) %>
        <%= image_tag(image, :style => "vertical-align: bottom;") %>
        <em><%= hook %></em>
        <% if !tip.blank? %>
          <em>(<%= tip %>)</em>
        <% end %>
        <br />
      <% end %>
    </td>
  </tr>

  <tr>
    <td><%= l(:label_gitolite_hooks_params_installed) %></td>
    <td>
      <% params_installed = gitolite_checks[:global_params] %>
      <% params_installed.each do |param, installed| %>
        <%= image_tag((installed ? 'true.png' : 'exclamation.png'), :style => "vertical-align: bottom;") %>
        <em><%= param %></em>
        <br />
      <% end %>
    </td>
  </tr>

  <tr>
    <td><%= l(:label_gitolite_mailer_params_installed) %></td>
    <td>
      <% params_installed = gitolite_checks[:mailer_params] %>
      <% params_installed.each do |param, installed| %>
        <%= image_tag((installed ? 'true.png' : 'exclamation.png'), :style => "vertical-align: bottom;") %>
        <em><%= param %></em>
        <br />
      <% end %>
    </td>
  </tr>

  <tr>
    <td><%= l(:label_mirroring_keys_installed) %></td>
    <td><%= image_tag (RedmineGitolite::GitoliteWrapper.mirroring_keys_installed?(:reset => true) ? 'true.png' : 'exclamation.png') %></td>
  </tr>

  <tr>
    <td><%= l(:label_git_version) %></td>
    <td><span class="label label-success"><%= Repository::Git.scm_version_string %></span></td>
  </tr>

  <tr>
    <td><%= l(:label_gitolite_version) %></td>
    <td>
      <% gitolite_version = RedmineGitolite::GitoliteWrapper.gitolite_version %>
      <span class="label label-<%= gitolite_version <= 0 ? 'important' : 'success' %>">
        <%= gitolite_version <= 0 ? l(:label_unknown_gitolite_version) : gitolite_version %>
      </span>
    </td>
  </tr>

  <tr>
    <td><%= l(:label_gitolite_repository_count) %></td>
    <td>
      <span class="label label-success"><%= RedmineGitolite::GitoliteWrapper.gitolite_repository_count %></span>
    </td>
  </tr>
</table>

<p><%= label_tag  "", l(:label_gitolite_banner) %></p>

<div class="box">
<pre>
<%= raw RedmineGitolite::GitoliteWrapper.gitolite_banner %>
</pre>
</div>

<p><%= label_tag  "", l(:label_path_directories) %></p>

<div class="box">
<pre>
<%= raw (ENV['PATH']).gsub(/:/, "<br/>") %>
</pre>
</div>
