%p
  %label= l(:label_resync_all_projects)
  = check_box_tag 'settings[gitolite_resync_all_projects]', true, false

%p
  %label= l(:label_resync_all_ssh_keys)
  = check_box_tag 'settings[gitolite_resync_all_ssh_keys]', true, false

%p
  %label= l(:label_flush_cache)
  = check_box_tag 'settings[gitolite_flush_cache]', true, false
