<%
  # Gitolite Access Config
  ssh_server_domain     = (!Setting.plugin_redmine_git_hosting.nil? and !Setting.plugin_redmine_git_hosting[:ssh_server_domain].nil?)     ? Setting.plugin_redmine_git_hosting[:ssh_server_domain] : Setting.host_name.split('/').first
  http_server_domain    = (!Setting.plugin_redmine_git_hosting.nil? and !Setting.plugin_redmine_git_hosting[:http_server_domain].nil?)    ? Setting.plugin_redmine_git_hosting[:http_server_domain] : Setting.host_name.split('/').first
  https_server_domain   = (!Setting.plugin_redmine_git_hosting.nil? and !Setting.plugin_redmine_git_hosting[:https_server_domain].nil?)   ? Setting.plugin_redmine_git_hosting[:https_server_domain] : ''
  http_server_subdir    = (!Setting.plugin_redmine_git_hosting.nil? and !Setting.plugin_redmine_git_hosting[:http_server_subdir].nil?)    ? Setting.plugin_redmine_git_hosting[:http_server_subdir] : ''
  show_repositories_url = (!Setting.plugin_redmine_git_hosting.nil? and !Setting.plugin_redmine_git_hosting[:show_repositories_url].nil?) ? Setting.plugin_redmine_git_hosting[:show_repositories_url] : 'true'

  gitolite_daemon_by_default = (!Setting.plugin_redmine_git_hosting.nil? and !Setting.plugin_redmine_git_hosting[:gitolite_daemon_by_default].nil?) ? Setting.plugin_redmine_git_hosting[:gitolite_daemon_by_default] : 'false'
  gitolite_http_by_default   = (!Setting.plugin_redmine_git_hosting.nil? and !Setting.plugin_redmine_git_hosting[:gitolite_http_by_default].nil?)   ? Setting.plugin_redmine_git_hosting[:gitolite_http_by_default] : 1
%>

<h3><%= l(:label_gitolite_access_config) %></h3>

<p>
  <label><%= l(:label_ssh_server_domain) %></label>
  <%= text_field_tag("settings[ssh_server_domain]", ssh_server_domain, :size => 60) %>
  <br />
  <em><%= l(:label_default_domain_name) %> : <%= Setting.host_name.split('/').first %></em>
</p>

<p>
  <label><%= l(:label_http_server_domain) %></label>
  <%= text_field_tag("settings[http_server_domain]", http_server_domain, :size => 60) %>
  <br />
  <em><%= l(:label_default_domain_name) %> : <%= Setting.host_name.split('/').first %></em>
</p>

<p>
  <label><%= l(:label_https_server_domain) %></label>
  <%= text_field_tag("settings[https_server_domain]", https_server_domain, :size => 60) %>
  <br />
  <em><%= l(:label_https_server_domain_desc) %></em>
</p>

<p>
  <label><%= raw l(:label_http_server_subdir) %></label>
  <%= text_field_tag("settings[http_server_subdir]", "./#{http_server_subdir}", :size => 60) %>
</p>

<p>
  <label><%= l(:label_gitolite_http_by_default) %></label>
  <%= select_tag("settings[gitolite_http_by_default]", options_for_select([
                                                                            [l(:label_disabled), "0"],
                                                                            [l(:label_http_only), "3"],
                                                                            [l(:label_https_only), "1"],
                                                                            [l(:label_https_and_http), "2"]
                                                                          ], gitolite_http_by_default)) %>
</p>

<p>
  <label><%= l(:label_show_repositories_url) %></label>
  <span class="bootstrap-switch switch-small" data-on="primary" data-off="default" data-on-label="<%= l(:label_yes) %>" data-off-label="<%= l(:label_no) %>">
    <%= hidden_field_tag "settings[show_repositories_url]", "false" %>
    <% if show_repositories_url == 'true' %>
      <%= check_box_tag "settings[show_repositories_url]", show_repositories_url, {:checked => "checked"} %>
    <% else %>
      <%= check_box_tag "settings[show_repositories_url]", show_repositories_url %>
    <% end %>
  </span>
</p>

<p>
  <label><%= l(:label_gitolite_daemon_by_default) %></label>
  <span class="bootstrap-switch switch-small" data-on="primary" data-off="default" data-on-label="<%= l(:label_yes) %>" data-off-label="<%= l(:label_no) %>">
    <%= hidden_field_tag "settings[gitolite_daemon_by_default]", "false" %>
    <% if gitolite_daemon_by_default == 'true' %>
      <%= check_box_tag "settings[gitolite_daemon_by_default]", gitolite_daemon_by_default, {:checked => "checked"} %>
    <% else %>
      <%= check_box_tag "settings[gitolite_daemon_by_default]", gitolite_daemon_by_default %>
    <% end %>
  </span>
</p>
