<div class="tabular settings">
	<p>
		<label><%= l(:label_all_git)%></label> 
		<%= select_tag("settings[allProjectsUseGit]", options_for_select([[l(:label_enabled), 'true'], [l(:label_disabled), 'false']], @settings['allProjectsUseGit'])) %>
		<br />
	</p>
	<p>
		<label><%= l(:label_git_server)%></label>
		<%= text_field_tag("settings[gitServer]", @settings['gitServer'].split(/[\r\n\t ,;]+/).join("\n"), :size => 60) %>
		<br />
	</p>
	<p>
		<label><%= l(:label_http_server)%></label>
		<%= text_field_tag("settings[httpServer]", @settings['httpServer'].split(/[\r\n\t ,;]+/).join("\n"), :size => 60) %>
		<br />
	</p>
	<p>
		<label><%= l(:label_git_user)%></label>
		<%= text_field_tag("settings[gitUser]", @settings['gitUser'].split(/[\r\n\t ,;]+/).join("\n"), :size => 60) %>
		<br />
	</p>
	<p>
		<label><%= l(:label_git_user_identity_file)%></label>
		<%= text_field_tag("settings[gitUserIdentityFile]", @settings['gitUserIdentityFile'], :size => 60) %>
		<br />
	</p>
	<p>
		<label><%= l(:label_gitolite_identity_file)%></label>
		<%= text_field_tag("settings[gitoliteIdentityFile]", @settings['gitoliteIdentityFile'], :size => 60) %>
		<br />
	</p>
	<p>
		<label><%= l(:label_git_repository_base_path)%></label>
		<%= text_field_tag("settings[gitRepositoryBasePath]", @settings['gitRepositoryBasePath'], :size => 60) %>
		<br />
	</p>
</div>
