<div class="tabular settings">
	<p>
		<label><%= l(:label_all_git)%></label>
		<%= select_tag("settings[allProjectsUseGit]", options_for_select([[l(:label_enabled), 'true'], [l(:label_disabled), 'false']], @settings['allProjectsUseGit'])) %>
		<br />
	</p>
	<p>
		<label><%= l(:label_delete_git_repositories)%></label>
		<%= select_tag("settings[deleteGitRepositories]", options_for_select([[l(:label_enabled), 'true'], [l(:label_disabled), 'false']], @settings['deleteGitRepositories'])) %>
		<br />
	</p>
	<p>
		<label><%= l(:label_git_server)%></label>
		<%= text_field_tag("settings[gitServer]", @settings['gitServer'].split(/[\r\n\t ,;]+/).join("\n"), :size => 60) %>
		<br />
	</p>
	<p>
		<label><%= l(:label_http_server)%></label>
		<%= text_field_tag("settings[httpServer]", @settings['httpServer'].split(/[\r\n\t ,;]+/).join("\n"), :size => 60) %>
		<br />
	</p>
	<p>
		<label><%= l(:label_git_user)%></label>
		<%= text_field_tag("settings[gitUser]", @settings['gitUser'].split(/[\r\n\t ,;]+/).join("\n"), :size => 60) %>
		<br />
		</p>
	<p>
		<label><%= l(:label_gitolite_admin_public_key)%></label>
		<%= text_field_tag("settings[gitoliteAdminPublicKey]", @settings['gitoliteAdminPublicKey'], :size => 60) %>
		<br />
	</p>

	<p>
		<label><%= l(:label_gitolite_admin_private_key)%></label>
		<%= text_field_tag("settings[gitoliteAdminPrivateKey]", @settings['gitoliteAdminPrivateKey'], :size => 60) %>
		<br />
	</p>

	<p>
		<label><%= l(:label_git_repository_base_path)%></label>
		<%= text_field_tag("settings[gitRepositoryBasePath]", @settings['gitRepositoryBasePath'], :size => 60) %>
		<br />
	</p>
	<p>
		<label><%= l(:label_git_show_urls)%></label>
		<%= select_tag("settings[gitRepositoriesShowUrl]", options_for_select([[l(:label_enabled), 'true'], [l(:label_disabled), 'false']], @settings['gitRepositoriesShowUrl'])) %>
		<br />
	</p>

	<h3><%= l(:label_logging_configuration)%></h3>
	<p>
		<label><%= l(:label_logging)%></label>
		<%= select_tag("settings[loggingEnabled]", options_for_select([[l(:label_enabled), 'true'], [l(:label_disabled), 'false']], @settings['loggingEnabled'])) %>
		<em><%= l(:label_logging_warning)%></em>
	</p>
	<p>
		<label><%= l(:label_logging_level)%></label>
		<%= select_tag("settings[loggingLevel]", options_for_select([['DEBUG', "0"], ['INFO', "1"], ['WARN', "2"], ['ERROR', "3"], ['FATAL', "4"], ['UNKOWN', "5"]], @settings['loggingLevel'] || "0")) %>
	</p>

	<h3><%= l(:label_git_cache_parameters)%></h3>
	<p>
		<label><%= l(:label_git_cache_max_elements)%></label>
		<%= text_field_tag("settings[gitCacheMaxElements]", @settings['gitCacheMaxElements'], :size => 20) %>
		<br />
	</p>
	<p>
		<label><%= l(:label_git_cache_max_size)%></label>
		<%= text_field_tag("settings[gitCacheMaxSize]", @settings['gitCacheMaxSize'], :size => 20) %><em> MB</em>
		<br />
	</p>
	<p>
		<label><%= l(:label_git_cache_max_time)%></label>
		<%= select_tag("settings[gitCacheMaxTime]", options_for_select([["until next commit", "-1"], ["1 minute or until next commit", "60"], ["15 minutes or until next commit", "900"], ["1 hour or until next commit", "3600"], ["1 day or until next commit", "86400"]], @settings['gitCacheMaxTime'] )) %>
		<br />
	</p>

	<h3><%= l(:label_permissions_header)%></h3>
	<p>
		<label><%= l(:label_sudo_git_to_web_user)%></label>
		<%= image_tag((GitHosting.sudo_git_to_web_user==true ? 'true.png' : 'exclamation.png'), :style => "vertical-align:bottom;") %>
		<em><%= (GitHosting.sudo_git_to_web_user==true ? '' : GitHosting.sudo_git_to_web_user) %></em>
		<br />
	</p>
	<p>
		<label><%= l(:label_sudo_web_to_git_user)%></label>
		<%= image_tag((GitHosting.sudo_web_to_git_user==true ? 'true.png' : 'exclamation.png'), :style => "vertical-align:bottom;") %>
		<em><%= (GitHosting.sudo_web_to_git_user==true ? '' : GitHosting.sudo_web_to_git_user) %></em>
		<br />
	</p>
	<br/>

	<h3><%= l(:label_git_hook_header)%></h3>
	<p>
		<label><%= l(:label_git_hook_debug)%></label>
		<%= select_tag("settings[gitHooksDebug]", options_for_select([[l(:label_enabled), 'true'], [l(:label_disabled), 'false']], @settings['gitHooksDebug'])) %>
		<br />
	</p>
	<% if !GitHosting::Hooks::GitAdapterHooks.python_hook_installed? -%>
	<p>
		<label><%= l(:label_git_hook_curl_security_ignore)%></label>
		<%= select_tag("settings[gitHooksCurlIgnore]", options_for_select([[l(:label_enabled), 'true'], [l(:label_disabled), 'false']], @settings['gitHooksCurlIgnore'])) %>
		<br />
	</p>
	<%- end %>
	<p>
		<label><%= l(:label_hook_installed)%></label>
		<%= image_tag((GitHosting::Hooks::GitAdapterHooks.check_hooks_installed==true ? 'true.png' : 'exclamation.png'), :style => "vertical-align:bottom;") %>
		<em><%= (GitHosting::Hooks::GitAdapterHooks.check_hooks_installed==true ? '' : GitHosting::Hooks::GitAdapterHooks.check_hooks_installed) %></em>
		<br />
	</p>
	<p>
		<label><%= l(:label_update_all_hooks)%></label>
		<input type="checkbox" id="settings_updateAllHooks" name="settings[updateAllHooks]" value="yes"/>
		<br />
	</p>
	<input type="hidden" id="settings_gitHooksUrl" name="settings[gitHooksUrl]" value="<%= url_for(:controller => 'gitolite_hooks', :action => 'stub', :only_path => false, :host => Setting['host_name'], :protocol => Setting['protocol']) %>"
</div>
