= render partial: 'common/git_hosting_js_headers'

%span
  = l(:label_need_help) + ' :'
  = link_to l(:label_redmine_git_hosting_wiki), RedmineGitHosting::Config::GITHUB_WIKI, target: '_blank'

%br

%span
  = l(:label_open_issue) + ' :'
  = link_to l(:label_redmine_git_hosting_issue), RedmineGitHosting::Config::GITHUB_ISSUE, target: '_blank'

%br
%br

= render_tabs gitolite_plugin_settings_tabs

:javascript
  $(document).ready(function() { setSettingsActiveTab(); setBootstrapSwitch(); });
