<%
  # Redmine Config
  all_projects_use_git        = RedmineGitolite::Config.get_setting(:all_projects_use_git, true)
  init_repositories_on_create = RedmineGitolite::Config.get_setting(:init_repositories_on_create, true)
  delete_git_repositories     = RedmineGitolite::Config.get_setting(:delete_git_repositories, true)
  hierarchical_organisation   = RedmineGitolite::Config.get_setting(:hierarchical_organisation, true)
%>

<h3><%= l(:label_redmine_config) %></h3>

<p>
  <label><%= l(:label_all_projects_use_git) %></label>
  <span class="bootstrap-switch switch-small" data-on="primary" data-off="default" data-on-label="<%= l(:label_yes) %>" data-off-label="<%= l(:label_no) %>">
    <%= hidden_field_tag "settings[all_projects_use_git]", "false" %>
    <%= check_box_tag "settings[all_projects_use_git]", all_projects_use_git, all_projects_use_git %>
  </span>
</p>

<p>
  <label><%= l(:label_init_repositories_on_create).html_safe %></label>
  <span class="bootstrap-switch switch-small" data-on="primary" data-off="default" data-on-label="<%= l(:label_yes) %>" data-off-label="<%= l(:label_no) %>">
    <%= hidden_field_tag "settings[init_repositories_on_create]", "false" %>
    <%= check_box_tag "settings[init_repositories_on_create]", init_repositories_on_create, init_repositories_on_create, {:disabled => !all_projects_use_git} %>
  </span>
</p>

<p>
  <label><%= l(:label_delete_git_repositories).html_safe %></label>
  <span class="bootstrap-switch switch-small" data-on="primary" data-off="default" data-on-label="<%= l(:label_yes) %>" data-off-label="<%= l(:label_no) %>">
    <%= hidden_field_tag "settings[delete_git_repositories]", "false" %>
    <%= check_box_tag "settings[delete_git_repositories]", delete_git_repositories, delete_git_repositories %>
  </span>
</p>

<p>
  <label><%= l(:label_hierarchical_organisation) %></label>
  <span class="bootstrap-switch switch-small switch-extended" data-on="primary" data-off="default" data-on-label="<%= l(:label_hierarchical) %>" data-off-label="<%= l(:label_flat) %>">
    <%= hidden_field_tag "settings[hierarchical_organisation]", "false" %>
    <%= check_box_tag "settings[hierarchical_organisation]", hierarchical_organisation, hierarchical_organisation %>
  </span>
</p>

<br />

<%= render :partial => "gitolite_display_access" %>
