<div class="tabular settings">

	<p>
		<label><%= l(:label_all_git)%></label>
		<%= select_tag("settings[allProjectsUseGit]", options_for_select([[l(:label_enabled), 'true'], [l(:label_disabled), 'false']], @settings['allProjectsUseGit'])) %>
		<br />
	</p>
	<p>
		<label><%= l(:label_delete_git_repositories)%></label>
		<%= select_tag("settings[deleteGitRepositories]", options_for_select([[l(:label_enabled), 'true'], [l(:label_disabled), 'false']], @settings['deleteGitRepositories'])) %>
		<br />
	</p>
	<p>
		<label><%= l(:label_git_show_urls)%></label>
		<%= select_tag("settings[gitRepositoriesShowUrl]", options_for_select([[l(:label_enabled), 'true'], [l(:label_disabled), 'false']], @settings['gitRepositoriesShowUrl'])) %>
		<br />
	</p>
	<p>
		<label><%= l(:label_git_server)%></label>
		<%= text_field_tag("settings[gitServer]", @settings['gitServer'].split(/[\r\n\t ,;]+/).join("\n"), :size => 60) %>
		<br />
	</p>
	<p>
		<label><%= l(:label_http_server)%></label>
		<%= text_field_tag("settings[httpServer]", @settings['httpServer'].split(/[\r\n\t ,;]+/).join("\n"), :size => 60) %>
		<br />
	</p>
	<p>
		<label><%= l(:label_git_user)%></label>
		<%= text_field_tag("settings[gitUser]", @settings['gitUser'].split(/[\r\n\t ,;]+/).join("\n"), :size => 60) %>
		<br />
	</p>

	<p>
		<label><%= l(:label_gitolite_identity_file)%></label>
		<%= text_field_tag("settings[gitoliteIdentityFile]", @settings['gitoliteIdentityFile'], :size => 60) %>
		<br />
	</p>

	<p>
		<label><%= l(:label_gitolite_identity_public_key_file)%></label>
		<%= text_field_tag("settings[gitoliteIdentityPublicKeyFile]", @settings['gitoliteIdentityPublicKeyFile'], :size => 60) %>
		<br />
	</p>
	<p>
		<label><%= l(:label_git_repository_base_path)%></label>
		<%= text_field_tag("settings[gitRepositoryBasePath]", @settings['gitRepositoryBasePath'], :size => 60) %>
		<br />
	</p>


	<h3><%= l(:label_git_cache_parameters)%></h3>
	<p>
		<label><%= l(:label_git_cache_max_elements)%></label>
		<%= text_field_tag("settings[gitCacheMaxElements]", @settings['gitCacheMaxElements'], :size => 20) %>
		<br />
	</p>
	<p>
		<label><%= l(:label_git_cache_max_size)%></label>
		<%= text_field_tag("settings[gitCacheMaxSize]", @settings['gitCacheMaxSize'], :size => 20) %><em> MB</em>
		<br />
	</p>
	<p>
		<label><%= l(:label_git_cache_max_time)%></label>
		<%= select_tag("settings[gitCacheMaxTime]", options_for_select([["until next commit", "-1"], ["1 minute or until next commit", "60"], ["15 minutes or until next commit", "900"], ["1 hour or until next commit", "3600"], ["1 day or until next commit", "86400"]], @settings['gitCacheMaxTime'] )) %>
		<br />
	</p>


	<h3><%= l(:label_git_hook_header)%></h3>

	<p>
		<label><%= l(:label_git_hooks_are_asynchronous)%></label>
		<%= select_tag("settings[gitHooksAreAsynchronous]", options_for_select([[l(:label_enabled), 'true'], [l(:label_disabled), 'false']], @settings['gitHooksAreAsynchronous'])) %>
		<br />
	</p>

	<p>
		<label><%= l(:label_git_hook_debug)%></label>
		<%= select_tag("settings[gitHooksDebug]", options_for_select([[l(:label_enabled), 'true'], [l(:label_disabled), 'false']], @settings['gitHooksDebug'])) %>
		<br />
	</p>

	<p>
		<label><%= l(:label_hook_installed)%></label>
		<%= image_tag((GitHosting.check_hooks_installed==true ? 'true.png' : 'exclamation.png'), :style => "vertical-align:bottom;") %>
		<em><%= (GitHosting.check_hooks_installed==true ? '' : GitHosting.check_hooks_installed) %></em>
		<br />
	</p>

	<br/>

	<h3><%= l(:label_permissions_header)%></h3>
	<p>
		<label><%= l(:label_sudo_git_to_web_user)%></label>
		<%= image_tag((GitHosting.sudo_git_to_web_user==true ? 'true.png' : 'exclamation.png'), :style => "vertical-align:bottom;") %>
		<em><%= (GitHosting.sudo_git_to_web_user==true ? '' : GitHosting.sudo_git_to_web_user) %></em>
		<br />
	</p>
	<p>
		<label><%= l(:label_sudo_web_to_git_user)%></label>
		<%= image_tag((GitHosting.sudo_web_to_git_user==true ? 'true.png' : 'exclamation.png'), :style => "vertical-align:bottom;") %>
		<em><%= (GitHosting.sudo_web_to_git_user==true ? '' : GitHosting.sudo_web_to_git_user) %></em>
		<br />
	</p>
	<p>
		<label>PATH Directories</label>
		<%= (ENV['PATH']).gsub(/:/, "<br/>") %>
		<br/>
	</p>


</div>
