<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'application',                :plugin => 'redmine_git_hosting' %>
  <%= stylesheet_link_tag 'tag_it/jquery_tagit',        :plugin => 'redmine_git_hosting' %>

  <%= stylesheet_link_tag 'bootstrap/bootstrap_alert',  :plugin => 'redmine_bootstrap_kit' %>
  <%= stylesheet_link_tag 'bootstrap/bootstrap_label' , :plugin => 'redmine_bootstrap_kit' %>
  <%= stylesheet_link_tag 'bootstrap/bootstrap_switch', :plugin => 'redmine_bootstrap_kit' %>
  <%= stylesheet_link_tag 'bootstrap/bootstrap_tables', :plugin => 'redmine_bootstrap_kit' %>

  <%= javascript_include_tag 'plugins/tag_it',           :plugin => 'redmine_git_hosting' %>
  <%= javascript_include_tag 'plugins/bootstrap_switch', :plugin => 'redmine_bootstrap_kit' %>
  <%= javascript_include_tag 'bootstrap',                :plugin => 'redmine_bootstrap_kit' %>
<% end %>

<% settings_tabs = [
                    {:name => 'gitolite_config_ssh',        :partial => 'settings/gitolite_config_ssh',        :label => :label_tab_ssh},
                    {:name => 'gitolite_config_storage',    :partial => 'settings/gitolite_config_storage',    :label => :label_tab_storage},
                    {:name => 'gitolite_config_file',       :partial => 'settings/gitolite_config_file',       :label => :label_tab_config_file},
                    {:name => 'gitolite_config_global',     :partial => 'settings/gitolite_config_global',     :label => :label_tab_global},
                    {:name => 'gitolite_config_access',     :partial => 'settings/gitolite_config_access',     :label => :label_tab_access},
                    {:name => 'gitolite_config_hooks',      :partial => 'settings/gitolite_config_hooks',      :label => :label_tab_hooks},
                    {:name => 'gitolite_config_cache',      :partial => 'settings/gitolite_config_cache',      :label => :label_tab_cache},
                    {:name => 'gitolite_config_notify',     :partial => 'settings/gitolite_config_notify',     :label => :label_tab_notify},
                    {:name => 'gitolite_redmine_config',    :partial => 'settings/redmine_config',             :label => :label_tab_redmine},
                    {:name => 'gitolite_sidekiq_interface', :partial => 'settings/sidekiq_interface',          :label => :label_tab_sidekiq_interface},
                    {:name => 'gitolite_config_test',       :partial => 'settings/gitolite_config_test',       :label => :label_tab_config_test},
                    {:name => 'gitolite_recycle_bin',       :partial => 'settings/gitolite_recycle_bin',       :label => :label_tab_gitolite_recycle_bin},
                    {:name => 'gitolite_rescue',            :partial => 'settings/gitolite_rescue',            :label => :label_tab_gitolite_rescue},
                   ] %>

<span><%= l(:label_need_help) %> : <%= link_to l(:label_redmine_git_hosting_wiki), RedmineGitolite::Config::GITHUB_WIKI, :target => '_blank' %></span>

<br />

<span><%= l(:label_open_issue) %> : <%= link_to l(:label_redmine_git_hosting_issue), RedmineGitolite::Config::GITHUB_ISSUE, :target => '_blank' %></span>

<br />
<br />

<%= render_tabs settings_tabs %>

<%= javascript_tag do %>
  $(document).ready(function() {
    groups = $('[id^=tab-gitolite_]');

    $.each(groups, function(key, elem) {
      $(elem).on('click', function(){
        if ("replaceState" in window.history) {
          window.history.replaceState(null, document.title, 'redmine_git_hosting?tab=' + $(this).attr('id').replace('tab-', ''));
        }
      });
    });

    $('.bootstrap-switch').each(function(index, element) {
      installBootstrapSwitch(element);
    });
  });
<% end %>
