<%
  # Gitolite Sidekiq Config
  gitolite_use_sidekiq = RedmineGitolite::Config.get_setting(:gitolite_use_sidekiq, true)
%>

<p>
  <label><%= l(:label_gitolite_use_sidekiq) %></label>
  <span class="bootstrap-switch switch-small" data-on="primary" data-off="default" data-on-label="<%= l(:label_yes) %>" data-off-label="<%= l(:label_no) %>">
    <%= hidden_field_tag "settings[gitolite_use_sidekiq]", "false" %>
    <%= check_box_tag "settings[gitolite_use_sidekiq]", gitolite_use_sidekiq, gitolite_use_sidekiq %>
  </span>
</p>
