<% if @project.repository && @project.repository.is_a?(Repository::Git) %>
	<% content_for :header_tags do %>

		<%= stylesheet_link_tag('git_url_display', :plugin => 'redmine_git_hosting') %>
		<%= javascript_include_tag('git_url_display', :plugin => 'redmine_git_hosting') %>
		
		<%= stylesheet_link_tag('zero_clipboard', :plugin => 'redmine_git_hosting') %>
		<%= javascript_include_tag('ZeroClipboard', :plugin => 'redmine_git_hosting') %>
		<%= javascript_include_tag('zero_clipboard_setup', :plugin => 'redmine_git_hosting') %>


		<script type="text/javascript">

			guProjectName= "<%= (@project.parent ? GitHosting::get_full_parent_path(@project, false) + "/" : "" ) %>" + "<%= @project.repository.url %>".replace(/^.*\//, "")
			guProjectIsPublic= <%= project.is_public.to_s %> ;
			guUser= "<%= User.current.login %>"
			guUserIsCommitter= <%= User.current.allowed_to?(:commit_access, project) ? "true" : "false" %> ;
			guGitUser="<%= Setting.plugin_redmine_git_hosting['gitUser'] %>"
			guGitServer="<%= Setting.plugin_redmine_git_hosting['gitServer'] %>"
			guHttpBase="<%= Setting.plugin_redmine_git_hosting['httpServer'] %>".replace(/\/$/, "")
			guHttpProto="<%=  project.repository.extra[:git_http].to_s == "2" ? "http" : "https" %>"

			window.onload = setGitUrlOnload

			ZeroClipboard.setMoviePath('<%= image_path('ZeroClipboard.swf', :plugin => 'redmine_git_hosting') %>');
			setZeroClipboardInputSource("git_url_text");
		</script>
	<% end %>

	<% if (project.module_enabled?(:repository) && Setting.plugin_redmine_git_hosting['gitRepositoriesShowUrl'].to_s != "false" ) && ((!User.current.anonymous?) || project.repository.extra[:git_http].to_s != "0" || (project.is_public && project.repository.extra[:git_daemon].to_s != "0" )) %>
		<div class="box">
			<h3>Git Repository</h3>
			<div id="git_url_box">
				<ul id="git_url_list" >
					<% if !User.current.anonymous? %>
						<li><a id="git_url_ssh"  href="javascript:void(0)">SSH</a></li>
					<% end %>
					<% if project.repository.extra[:git_http].to_s != "0" %>
						<li><a id="git_url_http" href="javascript:void(0)">HTTP</a></li>
					<% end %>
					<%  if project.is_public && project.repository.extra[:git_daemon].to_s != "0" %>
						<li><a id="git_url_git"  href="javascript:void(0)">Git</a></li>
					<%  end %>
				</ul>
				<input id="git_url_text" name="git_url_text" readonly="readonly" value="" />
				<div id="clipboard_container" title="<%= l(:label_copy_to_clipboard) %>" style="display: none;">
					<div id="clipboard_button"><%= image_tag 'paste.png', :plugin => 'redmine_git_hosting' %></div>
				</div>
				<span  id="git_url_desc">This URL has <span id="git_url_access">Read-Only</span> access.</span>
			</div>
		</div>
	<% end %>
<% end %>
