.flash-messages= error_messages_for 'protected_branch'

.box
  %p= f.text_field :path, required: true, size: 65, label: l(:label_branch_path)
  %p= f.select :permissions, options_for_select(RepositoryProtectedBranche::VALID_PERMS, @protected_branch.permissions), required: true, label: :label_permissions

  = hidden_field_tag 'repository_protected_branche[user_ids][]', ''

  %p
    %label{ for: 'repository_protected_branche[user_ids]' }= l(:label_user_list) + ' :'

  - protected_branch_available_users.each do |user|
    %p
      %label{ style: 'margin-left: 0; width: auto; font-weight: lighter;' }
        = check_box_tag 'repository_protected_branche[user_ids][]', user.id, @protected_branch.users.include?(user)
        = user
      %br
