<div id="validation_messages"><%= error_messages_for 'mirror' %></div>

<div class="box">
  <p><%= f.text_field :url, :required => true, :size => 65, :label => :label_mirror_url %></p>
  <p><%= f.select :push_mode, options_for_select([
        [l(:label_full_mirror), 0],
        [l(:label_forced_update), 1],
        [l(:label_fast_forward), 2]], @mirror.push_mode), { :label => :label_push_mode }, :onchange => "push_mode_change(this); return false;" %>

  <div id="ref_spec_options" style="display:none;">
    <p><%= f.check_box  :include_all_branches, :label => :field_include_all_branches %></p>
    <p><%= f.check_box  :include_all_tags,     :label => :field_include_all_tags %> </p>
    <p><%= f.text_field :explicit_refspec,     :label => :field_explicit_refspec, :size => 65 %></p>
  </div>
  <p><%= f.check_box :active %></p>
</div>

<script type="text/javascript">
  function push_mode_change(elem) {
    if (!elem) return;
    var idx = elem.selectedIndex;
    if (idx == 0) {
      $('#ref_spec_options').hide();
    } else {
      $('#ref_spec_options').show();
    }
  }
</script>
