<div>

  <% if user_allowed_to(:create_repository_mirrors, @project) %>
    <div class="contextual">
      <%= link_to l(:label_mirror_add), new_repository_mirror_path(@repository),
                                        :class => 'icon icon-add modal-box' %>
    </div>
  <% end %>

  <h3><%= l(:label_repository_mirrors) %></h3>

  <% if @repository_mirrors.any? %>

    <table class="table table-hover">
      <thead>
        <tr>
          <th><%= l(:label_url) %></th>
          <th><%= l(:label_mirror_refspec) %></th>
          <th><%= l(:label_mode) %></th>
          <th><%= l(:label_enabled) %></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @repository_mirrors.each do |mirror| %>
          <tr>
            <td><%= mirror.url %></td>

            <td><%= refspec(mirror, 64).html_safe %></td>

            <td><%= mirror_mode(mirror).html_safe %></td>

            <td><%= checked_image2 mirror.active? %></td>

            <td class="buttons">
              <% if user_allowed_to(:edit_repository_mirrors, @project) %>

                <%= link_to l(:label_mirror_push), push_to_mirror_path(@repository, mirror),
                                                   :title => l(:label_mirror_push_title),
                                                   :alt   => l(:label_mirror_push_title),
                                                   :class => 'icon icon-push modal-box-close-only' %>

                <%= link_to l(:button_edit), edit_repository_mirror_path(@repository, mirror),
                                             :class => 'icon icon-edit modal-box' %>

                <%= link_to l(:button_delete), repository_mirror_path(@repository, mirror),
                                               :remote  => true,
                                               :method  => :delete,
                                               :confirm => l(:text_are_you_sure),
                                               :class   => 'icon icon-del' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <% else %>
    <p class="nodata"><%= l(:label_no_data) %></p>
  <% end %>

  <div class="spacer"></div>

  <% mirror_pubkey = RedmineGitolite::GitoliteWrapper.mirroring_public_key %>

  <div style="margin: 2px 3px; width: 99%;">

    <div>
      <div id="mirror_clipboard_button" data-clipboard-target="mirror_pubkey" title="<%= l(:label_copy_to_clipboard) %>" style="float: left;">
        <%= image_tag 'paste.png', :plugin => 'redmine_git_hosting' %>
      </div>

      <span style="margin-left: 10px;" ><%= l(:label_mirror_help) %> :</span>
    </div>

    <div class="spacer"></div>

    <textarea id="mirror_pubkey" readonly="readonly" style="height: 100px; width: 99%; font-family: sans-serif;"><%= mirror_pubkey %></textarea>

  </div>

  <div class="spacer"></div>

</div>

<%= javascript_tag do %>
  $(document).ready(function() {
    initModalBoxes(modals);

    var mirror_client = Object();
    mirror_client.movie_path    = '<%= plugin_asset_link('redmine_git_hosting', 'ZeroClipboard.swf') %>';
    mirror_client.label_to_copy = '<%= l(:label_copy_to_clipboard) %>';
    mirror_client.label_copied  = '<%= l(:label_copied_to_clipboard) %>';
    mirror_client.target        = '#mirror_clipboard_button';

    createZeroClipBoard(mirror_client);
  });
<% end %>
