<% if not @is_xhr -%>
<%= stylesheet_link_tag('application', :plugin => 'redmine_git_hosting') %>
<h2><%=l(:button_push_title)%></h2>
<%- end %>
<p><%= l(:mirror_push_info_html, :mirror_url => @mirror.url, :status => @push_failed==true ? l(l(:mirror_push_fail)) : l(:mirror_push_sucess)) %></p>
<span><b></b><%= l(:mirror_push_output_label) %></b></span>
<pre class="mirror-push"><%= @shellout %></pre>
