<% if !repository.available_urls.empty? %>
  <div id="git_url_box">

    <ul id="git_url_list">
      <% repository.available_urls.each do |key, value| %>
        <li id="git_url_<%= key %>" class="git_url">
          <a href="javascript:void(0)"><%= key.upcase %></a>
        </li>
      <% end %>
    </ul>

    <input id="git_url_text" readonly="readonly" />

    <div id="clipboard_button" data-clipboard-target="git_url_text">
      <%= image_tag 'paste.png', :plugin => 'redmine_git_hosting' %>
    </div>

  </div>

  <span id="git_url_desc"><%= l(:label_this_urls_has_permissions, :span_id => 'git_url_permissions').html_safe %></span>
<% else %>
  <div id="git_url_box">
    <%= raw l(:label_repository_access_not_configured) %>
  </div>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag    'git_urls',                    :plugin => 'redmine_git_hosting' %>
  <%= stylesheet_link_tag    'bootstrap/bootstrap_tooltip', :plugin => 'redmine_bootstrap_kit' %>

  <%= javascript_include_tag 'plugins/bootstrap_tooltip',  :plugin => 'redmine_bootstrap_kit' %>
  <%= javascript_include_tag 'plugins/zero_clipboard_min', :plugin => 'redmine_git_hosting' %>
  <%= javascript_include_tag 'set_zero_clipboard',         :plugin => 'redmine_git_hosting' %>

  <%= javascript_tag do %>
    var access_list = [];

    <% repository.available_urls.each do |key, value| %>
    access_list["git_url_<%= key %>"] = { "url": encodeURI("<%= j value[:url] %>"), "commiter": <%= j value[:commiter] %> };
    <% end %>

    $(document).ready(function() {
      var git_url_client = Object();
      git_url_client.movie_path    = '<%= plugin_asset_link('ZeroClipboard.swf') %>';
      git_url_client.label_to_copy = '<%= l(:label_copy_to_clipboard) %>';
      git_url_client.label_copied  = '<%= l(:label_copied_to_clipboard) %>';
      git_url_client.target        = '#clipboard_button';

      createZeroClipBoard(git_url_client);

      $('#git_url_list li').first().addClass('selected');
      var key    = $('#git_url_list li').first().attr('id');
      var access = access_list[key];

      $('#git_url_text').val(access.url);
      $("#git_url_permissions").html(access.commiter == true ? "<%= l(:label_read_write_permission) %>" : "<%= l(:label_read_only_permission) %>");

      $('#git_url_list li').on('click', function(){
        var key    = $(this).attr('id');
        var access = access_list[key];

        $('#git_url_list li').removeClass('selected');
        $(this).addClass('selected');
        $('#git_url_text').val(access.url);
        $("#git_url_permissions").html(access.commiter == true ? "<%= l(:label_read_write_permission) %>" : "<%= l(:label_read_only_permission) %>");
      });
    });
  <% end %>
<% end %>
