<% if @project.repositories.any? %>
<table class="list">
  <thead>
    <tr>
      <th><%= l(:field_identifier) %></th>
      <th><%= l(:field_repository_is_default) %></th>
      <th><%= l(:label_scm) %></th>
      <th><%= l(:label_repository) %></th>
      <th><%= l(:label_repository_enabled_capabilities) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @project.repositories.sort.each do |repository| %>
    <tr class="<%= cycle 'odd', 'even' %>">
      <td align="center"><%= repository.identifier.present? ? repository.identifier : '' %></td>
      <td align="center"><%= checked_image repository.is_default? %></td>
      <td class="scm_name2"><span class="icon icon-git-logo"></span><%=h repository.scm_name %></td>
      <td><%=link_to h(repository.url),
            {:controller => 'repositories', :action => 'show',:id => @project, :repository_id => repository.identifier_param} %>
      </td>
      <td align="center">
        <span title="<%= l(:label_deployment_credentials) %><%= !repository.repository_deployment_credentials.active.any? ? ' (Disabled)' : '' %>" class="icon icon-git icon-deployment-credentials <%= !repository.repository_deployment_credentials.active.any? ? 'icon-git-disabled' : '' %>"></span>
        <span title="<%= l(:label_post_receive_urls) %><%= !repository.repository_post_receive_urls.active.any? ? ' (Disabled)' : '' %>" class="icon icon-git icon-post-receive-urls <%= !repository.repository_post_receive_urls.active.any? ? 'icon-git-disabled' : '' %>"></span>
        <span title="<%= l(:label_repository_mirrors) %><%= !repository.repository_mirrors.active.any? ? ' (Disabled)' : '' %>" class="icon icon-git icon-mirrors <%= !repository.repository_mirrors.active.any? ? 'icon-git-disabled' : '' %>"></span>
        <span title="<%= l(:label_enable_git_daemon) %><%= !(repository.project.is_public && repository.extra[:git_daemon] == 1) ? ' (Disabled)' : '' %>" class="icon icon-git icon-git-daemon <%= !(repository.project.is_public && repository.extra[:git_daemon] == 1) ? 'icon-git-disabled' : '' %>"></span>
        <span title="<%= l(:label_enable_smart_http) %><%= repository.extra[:git_http] == 0 ? ' (Disabled)' : '' %>" class="icon icon-git icon-git-smarthttp <%= repository.extra[:git_http] == 0 ? 'icon-git-disabled' : '' %>"></span>
        <span title="<%= l(:label_enable_git_notify) %><%= repository.extra[:git_notify] == 0 ? ' (Disabled)' : '' %>" class="icon icon-git icon-git-notify <%= repository.extra[:git_notify] == 0 ? 'icon-git-disabled' : '' %>"></span>
      </td>
      <td class="buttons">
      <% if User.current.allowed_to?(:manage_repository, @project) %>
        <%= link_to(l(:label_user_plural), committers_repository_path(repository),
             :class => 'icon icon-user') %>
        <%= link_to(l(:button_edit), edit_repository_path(repository),
             :class => 'icon icon-edit') %>
        <%= link_to(l(:button_delete), repository_path(repository),
            :confirm => l(:text_are_you_sure),
            :method  => :delete,
            :class   => 'icon icon-del') %>
      <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<% else %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

<% if User.current.allowed_to?(:manage_repository, @project) %>
  <p><%= link_to l(:label_repository_new), new_project_repository_path(@project), :class => 'icon icon-add' %></p>
<% end %>
